{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
  <div class="container text-center">
    <h1>Set a new password!</h1>
    <form class="row" method="POST">
      {% csrf_token %}
      <div class="col-12 mb-2">
        <input class="form-control w-50 m-auto mt-1 text-center" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password">
      </div>
      <div class="col-12 mb-2">
        <input class="form-control w-50 m-auto mt-1 text-center" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm new password">
      </div>
      <div id="passwordHelpBlock" class="form-text mb-2">
        Your password can’t be too similar to your other personal information.<br>
        Your password must contain at least 8 characters.<br>
        Your password can’t be a commonly used password. Your password can’t be entirely numeric.
      </div>
      <div class="col-12 mb-2">
        <button type="submit" class="btn btn-light mb-4">Change my password</button>
      </div>
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}
  </div>
{% endblock %}