{% extends 'base.html' %}

{% block content%}
  <div class="container mt-3 text-center">
  {% if user.username %}
    <h2>Welcome, {{ user.username }}!</h2>
    {% if user.token %}
      <h2>You connected to Twitch!</h2>
    {% else %}
      <h2><a href="https://id.twitch.tv/oauth2/authorize?client_id=cj6u5ko0kn9bpdgajxrbz5ircahgff&redirect_uri=https://nemoobot.ru/connect_to_twitch&response_type=code&scope=user:edit+user:read:email+chat:edit+chat:read+channel:moderate+user:edit:broadcast&force_verify=true" class="text-white">Connect</a> to your Twitch to start using NeMooBot.</h2>
    {% endif %}
  {% else %}
    <h2>Welcome!<br>Please <a href="{% url 'login'%}" class="text-white">login</a> or <a href="{% url 'signup'%}" class="text-white">sign up</a>!</h2>
  {% endif %}
  </div>
{% endblock %}
