{% extends 'base.html' %}

{% block content %}
  <div class="text-center mt-5">
    <h2>Log in to NeMooBot</h2>
    {% if form.errors %}
        <div class="alert alert-danger mx-auto w-50" role="alert">
          Your username and password didn't match. Please try again.
        </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}<br>
          {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
          {% if field.help_text %}
            <p><small style="color: grey">{{ field.help_text }}</small></p>
          {% endif %}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-light">Log in</button>
      <p class="mt-2 px-2">
        New to NeMooBot?
        <a href="/signup">Sign up</a>
      </p>
      <p class="mt-2 px-2">
        <a href="/accounts/password_reset">Forgot your password?</a>
      </p>
    </form>
  </div>
{% endblock %}