{% extends 'base.html' %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript">
        const username = "{{ settings.user.twitch_username }}"
        const oauth_token = "oauth:{{ settings.user.token.access_token }}"

        const xhr = new XMLHttpRequest()
        var banned_words = {{ settings.banned_words|safe }}
    </script>
    <script type = "text/javascript" src="{% static 'js/api_requests.js' %}"></script>
    <script type = "text/javascript" src="{% static 'js/check_mods.js' %}"></script>
    <script type = "text/javascript" src="{% static 'js/twitch_ws.js' %}"></script>
{% endblock %}

{% block content %}
    {% if settings %}
    <div id="botModeratorCheck" class="container m-auto mt-3">
        <div class="row m-auto mt-3 mb-3">
            <div class="col-sm" id="moderatorStatus">
                <h2>Moderator status</h2>
                <div class="spinner-border text-muted"></div>
            </div>
            <div id="moderatorButton" hidden>
                <button type="button" onclick="addBotToChannelMods()" class="btn btn-success">Add bot to moderators</button>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row m-auto mt-3 mb-3">
                <div class="col-sm">
                    <h2>Default commands</h2>
                    {% for def_cmd in default_commands %}
                    {% if def_cmd in settings.default_commands %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="default_commands" value="{{ def_cmd }}" id="flexCheckDefault" checked>
                          <label class="form-check-label" for="flexCheckDefault">
                            {{ def_cmd }}
                          </label>
                        </div>
                    {% else %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="default_commands" value="{{ def_cmd }}" id="flexCheckDefault" >
                          <label class="form-check-label" for="flexCheckDefault">
                            {{ def_cmd }}
                          </label>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm">
                    <h2>Antispam settings</h2>
                    {% for setting in antispam_settings %}
                    {% if setting in settings.antispam %}
                        <div class="form-check align-center">
                          <input class="form-check-input" type="checkbox" name="antispam_settings" value="{{ setting }}" id="flexCheckDefault" checked>
                          <label class="form-check-label" for="flexCheckDefault">
                            {{ setting }}
                          </label>
                        </div>
                    {% else %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="antispam_settings" value="{{ setting }}" id="flexCheckDefault" >
                          <label class="form-check-label" for="flexCheckDefault">
                            {{ setting }}
                          </label>
                        </div>
                    {% endif %}
                    {% endfor %}
                    <div class="form-check text-center px-0">
                      <label class="form-check-label" for="FormControlTextarea1">
                        List of banned words:
                      </label>
                      <textarea class="form-control bg-dark text-light" placeholder="list of banned words: apple,pen,pineapple,pen" name="banned_words" id="FormControlTextarea1" rows="2"></textarea>
                    </div>
                </div>
                <div class="col-sm">
                <h2>Follow notification</h2>
                <div class="form-check">
                {% if settings.follow_notification%}
                    <input class="form-check-input" type="checkbox" name="follow_notice" value="" id="flexCheckDefault" checked>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="follow_notice" value="" id="flexCheckDefault">
                {% endif %}
                    <label class="form-check-label" for="flexCheckDefault">
                    Follow notification
                    </label>
                </div>
            </div>
            </div>
            <div class="row m-auto mt-3 mb-3">
                <div class="col-sm">
                    <button onclick="changeSettings({{ settings.id }}, this.closest('form'))" type="button" class="btn btn-light">Save</button>
                </div>
            </div>
        </form>
        <form name="{{ settings.id }}" id="customCommandsForm">
            {% csrf_token %}
            <div class="row m-auto mt-3 mb-3 text-center">
                <div class="col-sm">
                    {% if custom_commands %}
                    <h2>Custom commands</h2>
                    {% for cmd in custom_commands %}
                    <div class="input-group mb-3">
                      <span class="input-group-text">!</span>
                      <input type="text"  class="form-control bg-dark text-light" placeholder="command" name="cmd_name" value="{{ cmd.name }}" aria-label="CmdName" onchange="changeCustomCommand({{ cmd.id }}, this.closest('input'))">
                      <input type="text"  class="form-control bg-dark text-light" placeholder="reply text" name="cmd_reply" value="{{ cmd.reply }}" aria-label="CmdReply" onchange="changeCustomCommand({{ cmd.id }}, this.closest('input'))">
                      <button type="button" onclick="deleteCustomCommand({{ cmd.id }})" class="btn btn-danger">Delete</button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h2>Add new custom commands</h2>
                    <div class="input-group mb-3">
                        <span class="input-group-text">!</span>
                        <input type="text" class="form-control bg-dark text-light" placeholder="command" name="new_cmd_name" aria-label="CmdName" required>
                        <input class="form-control bg-dark text-light" placeholder="reply text" name="new_cmd_reply" aria-label="CmdReply" required>
                        <button type="button" onclick="addNewCustomCommand(this.closest('form'))"  class="btn btn-light">Add new command</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    <script type="text/javascript">
        document.getElementById('FormControlTextarea1').innerHTML = banned_words
    </script>
{% endblock %}